<div id="<%= dom_id user %>" class="scaffold_record">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <%= link_to "Show this user", user %> |
    <%= link_to "Login as user", autologin_path(user) if user != current_user %>

  </p>
</div>
